{% if product %}
<form method="post" action='{% url 'purchases:start'%}'>
    {% csrf_token %}
    <input type="hidden" name="handle" value="{{ product.handle }}" />  
<div>
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 space-y-4">
        <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-3xl font-semibold">Rs.</span>
        <span class="text-5xl font-extrabold tracking-tight">{{ product.display_price }}</span>
    </div>
    <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Buy Now</button>
</div>
</form>
{% endif %}